.container-footer {
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    min-height: 100vh;
    padding-top: 7rem;
    background-color: #000000;
    color: #8a8a8a;
    font-family: cursive;
}

.container-title-footer {
    border-bottom: .1rem solid hsl(0, 0%, 54%);
    width: 90vw;
    text-align: center;
    margin-bottom: 1.5rem;
}

.container-title-footer h1 {
    font-weight: 600;
}

.copyright {
    border-top: .1rem solid #8a8a8a;
    width: 70vw;
    text-align: center;
    padding: 1.3rem 0 0;
    font-size: 20px;
    margin-bottom: 1.7rem;
}

.copyright span {
    color: #ff960b;
    margin: 0 .2rem;
    font-weight: 700;
}


/* Contacts */
.container-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.map {
    margin-right: 8vw;
}

.map div {
    width: 500px;
    height: 400px;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.messager {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.masseger-container a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 0;
    padding: 1rem .8rem;
    background-color: #232121;
    color: #8a8a8a;
    text-decoration: none;
    border-radius: .3rem;
    cursor: pointer;
}

.masseger-container a div {
    padding: 0 .8rem;
}

.masseger-container a div h4 {
    margin-bottom: .1rem;
}

.masseger-container a div p {
    margin: 0;
    font-size: 16px;
}

.icon-footer {
    font-size: 20px;
}

.networks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 2rem;
}

.networks a {
    text-decoration: none;
    color: #8a8a8a;
    background-color: #232121;
    padding: .8rem 1rem .6rem 1rem;
    border-radius: .3rem;
}
