header {
    min-height: 100vh;
    background-image: url('../img/start-background.gif');
    font-family: cursive;
}

nav {
    background-color: #000000;
    border-bottom: .2rem solid #ffc20b;
    position: fixed;
    width: 100%;
}

.container-nav {
    margin: 0 4rem;
    padding: 1.5rem 0;
}

.item-nav  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.item-nav a {
    text-decoration: none;
    color: #ff960b;
    padding: 0 .5rem .1rem;
}

.item-nav a:hover {
    color: #ffc20b;
    border-bottom: .1rem solid #ffde0b;
    padding: 0 .5rem 0;
}

.item-nav a li {
    list-style: none;
    font-size: 24px;
    font-style: initial;
    font-weight: 600;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 46vh;
    color: #fff;
}

.welcome h1 {
    font-size: 50px;
    margin: 0;
}

.welcome p {
    font-size: 35px;
    margin: 0;
}