main {
    background-color: #1a1818;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 9rem;
}


/* About */
.container-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    padding: 1rem 6rem;
    background-color: #000000;
    color: #8a8a8a;
}

.container-image-about {
    min-width: 20vw;
    margin-right: 3%;
}

.image-about {
    width: 100%;
    border-radius: 50%;
    border: .2rem solid #8a8a8a;
}

.container-text-about {
    text-align: justify;
    text-indent: 2rem;
}

.title-about {
    font-family: cursive;
    font-weight: 600;

    text-align: center;
    border-bottom: .1rem solid #8a8a8a;
    padding-bottom: .1rem;
    margin-bottom: 1rem;
}

.text-about {
    margin: 0 2rem .9rem;
    line-height: 1.8;
}


/* Skills */



/* Projects */
.project p {
    text-align: justify;
}
