section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* Opening */



/* About */
.containerAbout {
    align-items: center;
}

.imageAbout {
    width: 100%;
    border-radius: 50%;
}

.formatContainer {
    text-align: justify;
}

.formatContainer h1 {
    border-bottom: .1rem solid #000000;
    padding-bottom: .3rem;
    margin-bottom: 1rem;
}

.formatContainer p {
    text-indent: 1.5rem;
}


/* Skills */



/* Projects */
.project p {
    text-align: justify;
}
