main {
    background-color: #1a1818;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 9rem;
}

.title-about, .title-skills, .title-projects {
    font-family: cursive;
    font-weight: 600;
    text-align: center;
    border-bottom: .1rem solid #8a8a8a;
    padding-bottom: .1rem;
    margin-bottom: 1rem;
}


/* About */
.container-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    padding: 8rem 6rem;
    background-color: #000000;
    color: #8a8a8a;
}

.container-image-about {
    min-width: 20vw;
    margin-right: 3%;
}

.image-about {
    width: 100%;
    border-radius: 50%;
    border: .2rem solid #8a8a8a;
}

.container-text-about {
    text-align: justify;
    text-indent: 2rem;
}

.text-about {
    margin: 0 2rem .9rem;
    line-height: 1.8;
    font-size: 13px;
}


/* Skills */
.container-skills {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 8rem 6rem;
    background-color: #000000;
    color: #8a8a8a;
}

.container-skills-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.card-skill {
    background-color: #232121;
    width: 270px;
    margin: .5rem 0;
    padding: 1rem;
    border-radius: .4rem;
}

.card-skill div p {
    text-align: justify;
    line-height: 1.6;
    font-size: 13px;
    margin: .4rem 1rem;
}

.card-icon-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: .8rem;
    padding-bottom: .5rem;
    border-bottom: .1rem solid #8a8a8a;
}

.card-icon-title h4 {
    font-size: 18.5px;
}

.skill-icon {
    margin-right: .8rem;
    font-size: 26px;
}


/* Projects */
.container-projects {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 8rem 6rem;
    background-color: #000000;
    color: #8a8a8a;
}

.container-projects-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-project {
    background-color: #232121;
    width: 460px;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: .4rem;
    cursor: pointer;
}

.card-project img {
    border-radius: .2rem .2rem 0 0;
    width: 100%;
    margin-bottom: .5rem;
}

.title-card-project {
    text-align: center;
    margin: .8rem 0;
    padding-bottom: .5rem;
    border-bottom: .1rem solid #8a8a8a;
    font-size: 18.5px;
}

.card-project div p {
    text-align: justify;
    line-height: 1.6;
    font-size: 13px;
    margin: .4rem 1rem;
}


.project p {
    line-height: 1.8;
    text-align: justify;
    margin: .4rem 1rem;
}
