section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* About */
.container-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 9rem;
    padding: 1rem 2rem;
}

.container-image-about {
    min-width: 20vw;
    margin-right: 5%;
}

.image-about {
    width: 100%;
    border-radius: 50%;
}

.container-text-about {
    text-align: justify;
    text-indent: 2rem;
}

.title-about {
    font-family: cursive;
    font-weight: 600;
    text-align: center;
    border-bottom: .1rem solid #000000;
    padding-bottom: .1rem;
    margin-bottom: 1rem;
}

.text-about {
    margin: 0 1.5rem .9rem;
    line-height: 1.8;
}


/* Skills */



/* Projects */
.project p {
    text-align: justify;
}
